.calc {
  padding: 80px 0;
  background-color: $color-background-secondary;

  @include tablet {
    padding: 30px 15px;
  }

  h2 {

    font-size: 3.6rem;
  }

  &__columns {
    max-width: 865px;
    margin: 50px auto 0;


    @include tablet {
      //display: block;
      display: flex;
    }
  }

  &__form {
    width: 50%;
    //margin-right: 20px;
    margin: 0 auto;

    @include tablet {
      width: 100%;
      margin-right: 0;
    }
  }


  &__input input,
  &__select .select__input {
    color: $color-fonts-light;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-accent-blue;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px $color-primary-shadow;
    margin-bottom: 20px;
    background-color: $color-white;
  }

  &__input {
    input {
      &::placeholder {
        color: $color-fonts-light;
      }
    }
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url("../assets/Arrow Down.svg");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
      }
    }

    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $color-accent-red;
      overflow: hidden;

      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: $color-background-secondary;
        }
      }
    }


    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }

      .select__dropdown {
        display: block;
      }
    }
  }

  .form__checkbox {
    cursor: pointer;
    display: flex;

    @include tablet {
      margin-bottom: 20px;
    }
    input[type=checkbox]{
      position:absolute;
      opacity: 0;
      cursor:pointer;
      height: 0;
      width: 0;

      &:checked + span.checkbox {
        background-image: url("../assets/Checkmark.svg");
        background-position: center;
        background-size: contain;

      }
    }

    span.checkbox {
      height: 14px;
      flex-shrink: 0;
      flex-basis: 14px;
      border: 1px solid rgba(149, 152, 154, 1);
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 15px;


      @include tablet {
        flex-basis: 24px;
        height: 24px;
      }

    }
    .consent__text {
      padding-top: 4px;
      padding-bottom: 10px;
      color: $color-fonts-dark;
      font-size: 1.2rem;
    }
  }

  &__summary {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
      margin-left: 47px;
      margin-top: 0;
    }

    .summary__total,
    .list__item {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: $color-white;
      font-size: 0.875rem;
      display: none;

      &.open {
        display: flex;
      }
    }

    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin: 22px auto 0;
      padding: 8px 20px;
      background-color: $color-accent-blue;

      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .list__item {
      padding: 6px 20px;
      background-color: $color-accent-green;
      margin-bottom: 8px;

      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}
