@use "sass:math";
.pricing {
  margin: 0 auto;
  background-color: $color-background-primary;
  padding: 0 18px;

  .heading--pricing {
      font-size: 3.6rem;
      margin-top: 53px;
      margin-bottom: 14px;

    @include desktop {
      margin-top: 100px;
      margin-bottom: 50px;

      }
    }
  &__boxes {
    margin: 0 auto;
    height: 100%;
    @include tablet {
      display: flex;
      margin: 0 0 155px 0;
    }
  }

  &__wrapper {
    margin: 0 auto 30px;
    width: 100%;
    padding-bottom: 22.5px;
    position: relative;

    @include tablet {
      margin: 0;
    }

    & .btn {
      position: absolute;
      bottom: 0;
      left: calc(50% - 75px);
    }

    @include desktop {
      width: 1266px;
    }
  }

  &__wrapper--basic {
    @include tablet {
      margin-top: 21px;
      margin-right: 50px;
      padding-bottom: 0;

      & .btn {
        bottom: 10px;
      }

    }
  }

  &__wrapper--professional {
    & .btn {
      background-color: $color-accent-blue;

      @include iPad {
        box-shadow: 5px 10px 14px $color-shadow-primary;
        padding: 16px 64px;
      }
    }
  }

  &__wrapper--premium {
    & .btn {
      background-color: $color-accent-green;
    }
    @include tablet {
      margin-top: 21px;
      margin-left: 50px;
      padding-bottom: 0;

      & .btn {
        bottom: 10px;
      }
    }
  }

  &__box {
    border: 1px solid $color-accent-red;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    padding: 25px 11px 51px 28px;
    align-items: center;

    @include tablet {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 34px 0 80px;
    }
  }

  &__box--basic {
    margin: 0 23px;
    @include tablet {
      margin: 0;
     .pricing__details {
        margin-bottom: 69px;
      }
    }
  }

  &__box--premium {
    margin: 0 23px;
    border: 1px solid $color-accent-green;

    .pricing__price {
      color: $color-accent-green
    }

    @include tablet {
      margin: 0;
    .pricing__details{
          margin-bottom: 58px;
      }
    }
  }

  &__box--professional {
    border: 1px solid $color-accent-blue;
    box-shadow: 5px 10px 27px $color-shadow-primary;

    .pricing__price {
      color: $color-accent-blue;
    }

    @include tablet {
    .pricing__details {
        margin-bottom: 61px;
      }
     .pricing__price {
       line-height: 70px;
     }
      .pricing__inclusions {
        padding-bottom: 25px;
      }
    }
  }

  &__details {
    padding-right: 23px;
    @include tablet {
      padding: 0;
    }
  }

  &__type {
    font-size: 2rem;
    font-weight: 800;
    @include tablet {
      margin-bottom: 14px;
      line-height: 24px;
    }
  }

  &__price {
    text-align: center;
    font-family: $font-family-primary;
    font-size: 46px;
    font-weight: 300;
    color: $color-accent-red;
    padding: 8px 3px;

    @include tablet {
      line-height: 64px;
    }
  }

  &__offer {
      font-size: 1.2rem;
      font-weight: 800;
      text-align: center;
      color: rgba(19, 37, 59, 1);
    }

  &__list {
    text-align: left;
    font-size: 14px;

  }

  &__inclusions {
    padding: 10px 0;

    &::before {
      content: "";
      width: 11px;
      height: 11px;
      background-image:url("../assets/Ckechmark-1.svg");
      display: inline-block;
      margin-right: 10px;
    }

    @include tablet {
      padding: 0 0 20px 0;
      &:last-child {
        padding:0;
      }

    }
  }

  &__inclusions--not {
    &::before {
      background-image:url("../assets/Close.svg");
    }
  }

  &__inclusions--upper {
    text-transform: uppercase;
  }
}