$color-accent-blue:rgba(8, 166, 228, 1);
$color-accent-red:rgba(251, 59, 100, 1);
$color-accent-green:rgba(85, 223, 180, 1);
$color-white:rgba(255, 255, 255, 1);
$color-background-primary:rgba(255, 255, 255, 1);
$color-background-secondary:rgba(247, 247, 247, 1);
$color-fonts-primary:rgba(0, 0, 0, 1);
$color-fonts-light:rgba(165, 165, 165, 1);
$color-fonts-dark:rgba(112, 112, 112, 1);
$box-shadow-mobile: rgba(0, 0, 0, 0.16);
$color-shadow-primary:rgba(7, 172, 230, 0.16);
$color-shadow-secondary:rgba(0, 0, 0, 0.16);
$color-border-box:rgba(232, 233, 237, 1);
$color-primary-shadow:rgba(8, 166, 228, 0.16);

